<! DOCTYPE html>
<html>
  <head>
    <title>Laolu's blog</title>
  </head>
  <body>
    <header>
      <h1><a href='/'>Laolu's Blog</a></h1>
    </header>

    <article>
      <time>published: 22.03.2024. 7:21</time>
      <h2><a href="">My First Post</a></h2>
      <p>Blogi yi je blogi alakoko ti mo se si ori pythonanywhere, inu mi si dun pe mo se yege.</p>
    </article>

    <article>
      <time>published: 22.03.2024. 7:26</time>
      <h2><a href="">My Second Post</a></h2>
      <p>Blogi yi je blogi alakoko ti mo se si ori pythonanywhere, inu mi si dun pe mo se yege.</p>
    </article>
  </body>
</html>
